<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 	<head th:replace="template :: header">
	</head>
	<body>
		<nav th:replace="template :: navigation"></nav>
			<h1>Login</h1>
			<form method="post">
			    <label>
			        <div>Username</div>
			        <input type="text" name="username" th:value="${username}"></input>
			    </label>
			    <label>
			        <div>Password</div>
			        <input type="password" name="password" th:value="${password}"></input>
			    </label>
			    <div class="error" th:text="${ error }">error</div>
			    <input type="submit"></input>
			</form>
			
			<p>Don't have an account? <a href="signup">Create one!</a></p>

	</body>
	
	<div th:replace="template :: footer"></div>

</html>
