<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="template :: header">
	</head>
	<body>
		<nav th:replace="template :: navigation"></nav>
			<h1>New Post</h1>
			<form method="post">
			    <label>
			        <div>title</div>
			        <input type="text" name="title" th:value="${title}"></input>
			    </label>
			    <label>
			        <div>post</div>
			        <textarea name="body" th:text="${body}">body</textarea>
			    </label>
			    <div class="error" th:text="${ error }">error</div>
			    <input type="submit"></input>
			</form>
		
	</body>
</html>