<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="header">
		<title th:text="${title}">Blogz</title>
		<link th:href="@{/css/normalize.css}" rel="stylesheet" />
		<link th:href="@{/css/styles.css}" rel="stylesheet" />
		<script th:src="@{/js/script.js}"></script>
	</head>
	
	<body>
		<nav th:fragment="navigation">
            <ul id="user-account">
                <li><a href="/login">login</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">all posts</a></li>
                <li><a href="/blog/newpost">new post</a></li>
            </ul>
		</nav>
	</body>

	<div id="footer" th:fragment="footer">
	Copyright &copy; 2016 Mary Kay Murdaugh	
	</div>
	
</html>